{{#partial "contenido"}}
    <div class="container">
        <div class="card mt-4">
            <div class="card-body">
                <h2 class="card-title">Agregar nuevo Establecimiento de Interés</h2>

                <form id="establishmentForm">
                    <div class="form-group">
                        <label for="establecimiento"><b>Establecimiento:</b></label>
                        <select name="select_establecimiento" class="form-control form-control-lg" id="establecimiento">
                            {{#each establishments}}
                                <option value="{{this.name}}">{{name}}</option>
                            {{/each}}
                            <option value="" hidden>Seleccionar establecimiento</option>
                        </select>
                    </div>

                    <div class="text-center">
                        <a href="/dashboard" type="button" id="agregarEstablecimiento" class="btn btn-primary btn-lg mt-3">Agregar Establecimiento</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/partial}}
{{> templates/components/layout/LayoutBase }}

<script>
    document.getElementById("agregarEstablecimiento").addEventListener("click", function () {
        // Obtén el valor seleccionado del <select>
        const establecimientoSelect = document.getElementById("establecimiento");
        const selectedEstablishment = establecimientoSelect.options[establecimientoSelect.selectedIndex].value;

        // Crea un objeto JSON con los datos que deseas enviar al backend
        const data = {
            select_establecimiento: selectedEstablishment
        };

        // Realiza la solicitud POST al backend utilizando Fetch
        fetch("addInterestingEstablishment", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
                .then(response => response.json())
                .then(result => {
                    // Maneja la respuesta del servidor si es necesario
                    console.log(result);
                })
                .catch(error => {
                    // Maneja los errores de la solicitud
                    console.error(error);
                });
    });
</script>

