{{#partial "contenido"}}

<div class="container">
    <div class="card mt-4">
        <div class="card-body">
            <h2 class="card-title">Agregar nuevo servicio o interés</h2>

            <form action="/interestingService/add" method="POST">
                <div class="form-group">
                    <label for="servicio"><b>Servicio:</b></label>
                    <select name="select_servicio" class="form-control form-control-lg" id="servicio">
                        {{#each services}}
                        <option> {{name}} </option>
                        {{/each}}
                        <option value="" hidden>Seleccionar servicio</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="rol"><b>Rol:</b></label>
                    <select class="form-control form-control-lg" id="rol">
                        <!-- Opciones del select para el rol -->
                        <option value="" hidden>Seleccionar rol</option>
                    </select>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg mt-3">Agregar Servicio</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{/partial}}
{{> templates/components/layout/LayoutBase }}