<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                   <img src="../images/logo-login.png" alt="Logo de Monitoreo" class="logo-img">
                   <figcaption>
                     <h2>Monitoreo de Servicios</h2>
                     <p>Universidad Tecnológica Nacional (UTN)</p>
                     <p>Diseño de Sistemas - 2023</p>
                   </figcaption>
                </a>

            </figure>
        </div>

         <div class="box">
            <h2>DESARROLLADORES</h2>
                <ul class="list-unstyled">
                    <li>Arrascaeta, Santiago</li>
                    <li>Borda, Juan Ignacio</li>
                    <li>Galfione, Nicolás</li>
                    <li>Riverol, Camila</li>
                    <li>Villarruel, Ignacio</li>
                </ul>
        </div>
        <div class="box">
        <ul class="list-unstyled2">
            <h2>LINKS</h2>
            <li><a href="https://docs.google.com/document/d/11rQXhiO0EiZEqh_RzlydB1GPJFIsSqRCcuQn3e2JdtE/edit">Consigna</a></li>
            <li><a href="https://utnddsba.contactin.bio/">Seminarios</a></li>
            <li><a href="https://github.com/dds-utn/2023-tpa-mi-no-grupo-01">Repositorio</a></li>
            <li><a href="https://www.figma.com/file/BWBHdnxrqUX3I0htrNtjRk/front-tpa?type=design&node-id=0%3A1&mode=design&t=ZH9qmdKCDceRHQ54-1">Figma Wireframes</a></li>
        </ul>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/?locale=es_LA"><img src="../images/fb.png" alt="Facebook"></a>
                <a href="https://twitter.com/"><img src="../images/tw.png" alt="Twitter"></a>
                <a href="https://www.instagram.com/"><img src="../images/ig.png" alt="Instagram"></a>
                <a href="https://www.youtube.com/"><img src="../images/yt.png" alt="Youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>Monitoreo de Servicios</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>

<!-- Archivo footer.hbs -->
<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0!;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
 /*   width: 100% !important;
   min-width: 100% !important;*/
   background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 0px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 0px;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

.pie-pagina a {
text-decoration: none;
color: grey;
}

.red-social img {
     width: 30px;
     height: auto;
     margin-right: 10px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 100%;
        margin: 0!important;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

.list-unstyled {
    padding: 0;
    list-style-type: none; /* Elimina los puntos predeterminados de la lista */
    color: grey;
}

.list-unstyled li::before {
    content: "\2022"; /* Agrega un punto (•) antes de cada elemento de la lista */
    color: #007bff; /* Color del punto (puedes cambiarlo según tus preferencias) */
    display: inline-block;
    width: 1em; /* Espacio entre el punto y el texto */
    margin-left: -1em; /* Alinea el punto con el margen izquierdo del texto */
}

.list-unstyled2 {
    padding: 0;
    list-style-type: none; /* Elimina los puntos predeterminados de la lista */
}

.list-unstyled2 li::before {
    content: "\2022"; /* Agrega un punto (•) antes de cada elemento de la lista */
    color: #007bff; /* Color del punto (puedes cambiarlo según tus preferencias) */
    display: inline-block;
    width: 1em; /* Espacio entre el punto y el texto */
    margin-left: -1em; /* Alinea el punto con el margen izquierdo del texto */
}

/* Estilos CSS */
.logo-container {
    text-align: center; /* Alinea el contenido al centro */
}

.logo-img {
    width: 50px !important; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción original */
    margin-bottom: 10px; /* Agrega un margen inferior al logo */
}

figcaption h2 {
    font-size: 18px; /* Ajusta el tamaño del título según tus necesidades */
    margin-bottom: 5px; /* Agrega un margen inferior al título */
}

figcaption p {
    font-size: 14px; /* Ajusta el tamaño del texto según tus necesidades */
    color: #777; /* Color del texto (puedes cambiarlo según tus preferencias) */
    margin-bottom: 5px; /* Agrega un margen inferior al texto */
}

/* Estilos CSS */
figure {
    text-align: center; /* Alinea el contenido al centro */
}

.logo-img {
    width: 100px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción original */
    margin-bottom: 10px; /* Agrega un margen inferior al logo */
}

figcaption h2 {
    font-size: 18px; /* Ajusta el tamaño del título según tus necesidades */
    margin-bottom: 5px; /* Agrega un margen inferior al título */
}

figcaption p {
    font-size: 14px; /* Ajusta el tamaño del texto según tus necesidades */
    color: #777; /* Color del texto (puedes cambiarlo según tus preferencias) */
    margin-bottom: 5px; /* Agrega un margen inferior al texto */
}





</style>

