{{#partial "contenido"}}
<div style="align-items: center;
justify-content: center;
display: grid;
padding: 20px;
font-family: math;">

    <div>
        <h1>TU INFORMACIÓN SE GUARDO CORRECTAMENTE</h1>
    </div>

    <div style="text-align: center;">
        <img src="../images/reward/ganar.png" class="mx-auto d-block mb-4">

    </div>

</div>
{{/partial}}
{{> templates/components/layout/LayoutBase }}