<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.84.0">
  <title>Monitoreo</title>
  <link rel="icon" href="../images/logo-login.png" type="image/x-icon" sizes="16x16 32x32">




  <!-- Bootstrap core CSS -->
  <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="styles/carousel.css" rel="stylesheet">
</head>

<body>


  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="../images/logo-login.png" width="30" height="30"></img></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Iniciar sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sign-in">Registrarse</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>
  </header>

  <main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../images/home/portadahome.png" class="mx-auto d-block mb-4">

          <div class="container">
            <div class="carousel-caption text-start">
              <h1>EL FUTURO DE LA MOVILIDAD REDUCIDA</h1>
              <p>Facilitamos la movilidad de personas con movilidad reducida al proporcionar información actualizada
                sobre la accesibilidad de servicios públicos y establecimientos en la ciudad.</p>
              <p><a class="btn btn-lg btn-primary" href="/login">Ingresar</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../images/home/portadahome-volteada.png" class="mx-auto d-block mb-4">

          <div class="container">
            <div class="carousel-caption">
              <h1>ÚNETE A NUESTRA COMUNIDAD</h1>
              <p>Forma parte de nuestra comunidad comprometida en mejorar la accesibilidad y calidad de los servicios.
              </p>
              <p><a class="btn btn-lg btn-primary" href="/sign-in">¡Regístrate ahora!</a></p>
            </div>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


    <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="../images/home/cronografo.png" class="bd-placeholder-img rounded-circle" width="140" height="140">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" /></img>

          <h2>AHORRA TIEMPO</h2>
          <p>CONOCE LOS INCIDENTES EN TUS SERVICIOS DE INTERES.</p>
          <p><a class="btn btn-secondary" href="/login">Ver detalles &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="../images/home/equipo.png" class="bd-placeholder-img rounded-circle" width="140" height="140"
            xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

          <h2>SE PARTE</h2>
          <p>PARTICIPA EN TODAS LAS COMUNIDADES QUE QUIERAS.</p>
          <p><a class="btn btn-secondary" href="/login">Ver detalles &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="../images/home/conectados.png" class="bd-placeholder-img rounded-circle" width="140" height="140"
            xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

          <h2>SIEMPRE CONECTADOS</h2>
          <p>PERSONALIZA TUS MEDIOS Y HORARIOS DE NOTIFICACION PREFERIDOS.</p>
          <p><a class="btn btn-secondary" href="/login">Ver detalles &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Servicio las 24 hs </h2>
          <p class="lead">Nuestro servicio esta disponible las 24 hs , los 7 dias de la semana.</p>
        </div>
        <div class="col-md-5">
          <img src="../images/home/24-horas.png" width="400" height="400"></img>

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Caminos sin Barreras: Accesibilidad para Todos</h2>
          <p class="lead">Construyendo un Mundo Inclusivo donde la Movilidad Reducida no es un Obstáculo, sino una
            Oportunidad para la Unión. Transformando Desafíos en Posibilidades y Creando Comunidades donde Cada Paso
            Cuenta.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="../images/home/marcador-de-ubicacion.png" width="400" height="400"
            class="mx-auto d-block mb-4 img-fluid">
        </div>
      </div>



      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Rompiendo Barreras: Movilidad Reducida, Libertad Aumentada</h2>
          <p class="lead">En un mundo más inclusivo, la movilidad reducida no debería limitar la libertad. Nuestro
            compromiso es derribar obstáculos, facilitando un acceso sin límites, para que todos puedan explorar y
            disfrutar del mundo sin restricciones.</p>
          <div class="col-md-6 video-container lead">
            <!-- Puedes agregar más contenido relacionado con el video si es necesario -->
          </div>
        </div>
        <div class="col-md-5 d-flex justify-content-center align-items-center">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tyhz_JERDNo" allowfullscreen
              width="400  " height="400" frameborder="0"></iframe>
          </div>
        </div>
      </div>


  </main>



  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>
{{> templates/components/layout/FootBar }}