{{#partial "contenido"}}

    <!-- Encabezado con un mensaje de bienvenida llamativo -->
    <header style="background-color: #3498db; padding: 20px; text-align: center; color: #fff;">
        <h1>¡Bienvenido a nuestra plataforma!</h1>
        <p>Descubre, comparte e interactúa para mejorar tu experiencia.</p>
        <title>Monitoreo| Inicio</title>
        <link rel="icon" href="../images/logo-login.png" type="image/x-icon" sizes="16x16 32x32">
    </header>

    <!-- Sección de exploración con imágenes y descripciones atractivas -->
    <section style="padding: 30px; text-align: center;">
        <div>
            <img src="/images/buscar_comunidades.svg" alt="Explora" style="width: 300px; height: 300px">
            <h2>Explora</h2>
            <p>Sumérgete en un mundo de información actualizada sobre servicios y establecimientos.</p>
        </div>
    </section>

    <!-- Sección de contribución con llamadas a la acción -->
    <section style="background-color: #ecf0f1; padding: 30px; text-align: center;">
        <div>
            <img src="/images/anunciar.svg" alt="Contribuye" style="width: 300px; height: 300px">
            <h2>Contribuye</h2>
            <p>Ayuda a mejorar la accesibilidad de los servicios informando sobre incidentes.</p>
            <a href="/communities">
                <button style="background-color: #3498db; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">¡Comparte tu experiencia!</button>
            </a>        </div>
    </section>

    <!-- Sección de personalización con opciones y llamada a la acción -->
    <section style="padding: 30px; text-align: center;">
        <div>
            <img src="/images/reporte.png" alt="Personaliza" style="width: 300px; height: 300px">
            <h2>Personaliza Tu Perfil</h2>
            <p>Adapta tu experiencia según tus preferencias y recibe notificaciones relevantes.</p>
            <a href="/configure/profile">
                <button style="background-color: #3498db; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Configura tus preferencias</button>
            </a>        </div>
    </section>
{{/partial}}
{{> templates/components/layout/LayoutBase }}