<!DOCTYPE html>
<html>
    <style>
        table, th, td {
    border:1px solid black;
}
</style>
<body>

<h2>Ranking Incidentes</h2>

<table style="width:80%">
    <tr>
    <th>Reportes de Organización</th>
    <th>Posición</th>
    <th>Entidad</th>
    <th>Criterio</th>
    <th>Valor</th>
    </tr>
    <tr>
        <th>Reporte tipo 1</th>
        <th>1</th>
        <th>Jumbo</th>
        <th>Incidentes</th>
        <th>21</th>
    </tr>
    <tr>
        <th>Reporte tipo 2</th>
        <th>2</th>
        <th>Jumbo</th>
        <th>Incidentes</th>
        <th>21</th>
    </tr>
    <tr>
        <th>Reporte tipo 3</th>
        <th>3</th>
        <th>Jumbo</th>
        <th>Incidentes</th>
        <th>21</th>
    </tr>
</table>
</body>
</html>

